body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  color: #41903e;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0 5px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

#description {
  text-shadow: 0px 0px 10px #809255;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  display: block;
  position: relative;
}

.weather-app::after {
  content: "";
  background: url(../images/b6.jpg);
  background-size: 100%;
  border-radius: 5px;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: -1;
}

.overview {
  margin-bottom: 20px;
}

#city-input {
  max-width: 50%;
  border: none;
  border-radius: 30px;
  color: rgb(197, 197, 197);
  transition: all 0.2s ease-in-out;
  text-indent: 5px;
  font-size: 1rem;
  min-width: 300px;
}

#city-input:focus {
  color: black;
  outline: none;
}

#searchSubmit {
  min-width: 35px;
  background: transparent;
  border: transparent;
  font-size: 30px;
  margin: 0 5px;
}

.currentLocationBtn {
  min-width: 100px;
  height: 42px;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: 30px;
  color: #41903e;
  font-size: 16px;
}

.currentLocationBtn:focus {
  outline: none;
}

.currentLocationBtn:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  font-size: 15px;
  transition: 500ms;
  color: #809255;
  text-shadow: 0px 0px 10px #809255;
}

.weather-temperature img {
  vertical-align: top;
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.details {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#feelsLike,
#humidity,
#wind {
  color: #41903e;
}

.weather-forecast {
  margin: 20px 0 10px 0;
  padding: 5px;
  background: rgba(114, 130, 80, 0.8);
  border-radius: 15px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.signature {
  font-size: 14px;
  text-align: center;
  margin: 0 10px;
}

#github,
#netlify {
  color: #ec6e4c;
  text-shadow: 0px 0px 5px white;
  text-decoration: none;
}
