body {
  background: url(../images/c1.jpg);
  background-size: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px transparent #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

#city-input {
  border: none;
  border-radius: 30px;
  color: rgb(197, 197, 197);
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  text-indent: 5px;
  font-size: 1rem;
  min-width: 300px;
  padding: 10px;
}

#city-input:focus {
  color: black;
  outline: none;
}

#searchSubmit {
  background: transparent;
  border: transparent;
  font-size: 30px;
  padding-left: 0;
}

.currentLocationBtn {
  width: 100px;
  height: 42px;
  cursor: pointer;
  background: #333;
  border: none;
  border-radius: 10px;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  color: white;
  font-size: 16px;
}

.currentLocationBtn:focus {
  outline: none;
}

.currentLocationBtn:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  font-size: 15px;
  transition: 500ms;
  color: #71b7f0;
  text-shadow: 0px 0px 10px #71b7f0;
}

#city {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#date,
#time,
#description {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#time {
  margin-left: 20px;
}

/*#celsius,
#fahrenheit {
  text-decoration: none;
  background-color: transparent;
  color: #a0c0db;
  color: #fee454;
}*/

#city,
#date,
#time,
#description,
#wind,
#humidity,
#feelsLike,
.weather-temperature {
  color: #ffffff;
}

.weather-temperature img {
  vertical-align: top;
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: white;
  cursor: default;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

.fiveDays {
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
}

.Sat,
.Sun,
.Mon,
.Tue,
.Wed {
  margin: 0 2px;
  background: rgba(247, 243, 246, 0.3);
  min-width: 88px;
  min-height: 85px;
}
